html {
	margin: 0;
}

body {
	margin: 3em;
}

.shareForm-title {
	width: 60%;
	/*padding-left: 10%;*/
}

#shareUrl {
	width: 50%;
	/*height: 34px;*/
	font-size: 20px;
	font-family: Georgia;
	line-height: 1.4;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0,0,0, .075);
	transition: border-color ease-in-out .15s box-shadow ease-in-out .15s;

}

#shareBtn {
	margin-top: -6px;
}

#wrong-input-alert,
#empty-input-alert {
	width: 50%;
	margin-left: 22%;
	display: none;
}

.btn-david, .btn-connie {
	display: inline-block;
}



.identity-group {
	text-align: center;
	margin-top: 2%;
}

/*.btn {
	width: 10%;
}*/

.btn-david a {
	text-decoration: none;
}

.shareForm {
	text-align: center;
}

.url-item-wrapper {
	margin-bottom: 5em;
}

.url-item {
	
	border: 1px solid #ccc;
}

.url-item-info {
	cursor: pointer;
}


.new-url-text-wrapper {
	color: red;
	cursor: pointer;
}